<div appHighlightCourse [itemCourse]="item" [onTrigeredClass]="'courses__item--highlighted'" class="courses-item">
  <div class="courses-title">
    <div class="course-info">
      <div class="course-info_block">
        <h3>{{item.title}}</h3>
        <div class="course-add_info">
          <div class="course-info_item">
            <i class="fa fa-clock"></i>
            <span>{{ item.duration | appConvert }}</span>
          </div>
          <div class="course-info_item">
            <i class="fa fa-calendar-alt"></i>
            <span>{{ item.courseTime | appConvert }}</span>
          </div>
        </div>
      </div>
    </div>
    <!-- NOT best method -->
    <!-- <p>{{ item.content ? item.content.join() : '' }}</p> -->
    <!-- BETTER method -->
    <p *ngIf="item.content; else: upperTitle">{{ item.content | appJoin }}</p>
    <ng-template #upperTitle>
      <p>{{ item.description | appUpper }}</p>
    </ng-template>
  </div>
  <div class="courses-settings">
    <div class="courses-settings_item">
      <i class="fa fa-pen"></i>
      <a href="" class="add-item_btn settings-btn">Edit</a>
    </div>
    <div class="courses-settings_item">
      <i class="fa fa-trash"></i>
      <a (click)="handleDelete()" class="add-item_btn settings-btn">Delete</a>
    </div>
  </div>
</div>
