@import '../../../../styles/variables.scss';
@import '../courses/courses.component.scss';


// .new-course {
//     padding: 15px;
//     margin: 50px 0;
    
//     .new-course_item {
//         padding: 20px;
//         background: $main-text_color;
//         border-radius: 5px;
//         -webkit-box-shadow: 0px 2px 10px 0px rgba(173,166,173,1);
//         -moz-box-shadow: 0px 2px 10px 0px rgba(173,166,173,1);
//         box-shadow: 0px 2px 10px 0px rgba(173,166,173,1);

//         h3 {
//             margin: 0 0 20px;
//             font-weight: bold;
//             font-size: 28px;
//         }

//         .form-item {
//             display: flex;
//             flex-direction: column;
//             position: relative;
    
//             label {
//                 font-size: 14px;
//                 margin: 0 0 10px;

//                 &:after {
//                     content: '*required';
//                     position: absolute;
//                     right: 10px;
//                     font-size: 12px;
//                     color: #6e7984;
//                 }
//             }

//             input,
//             select,
//             textarea {
//                 width: 100%;
//                 height: 35px;
//                 padding: 5px;
//                 font-size: 14px;
//                 border: 1px solid #cccdce;
//                 border-radius: 3px;
//                 box-sizing: border-box;
//                 margin: 0 0 10px;
//                 background: $main-text_color;
//             }

//             textarea {
//                 height: 70px;
//             }
//         }

//         .short-item {
//             width: 25%;
//         }

//         .action-btns_area {
//             display: flex;
//             padding: 15px 0;
//             flex-direction: column;
//             align-items: flex-end;

//             .action_btn {
//                 margin: 0 10px;
//                 padding: 10px 30px;
//                 border: none;
//                 border-radius: 3px;
//                 color: $main-text_color;
//                 background: #cccdce;
//                 font-size: 14px;
//                 text-decoration: none;

//                 &.save-action {
//                     background: #6e7984;
//                 }
//             }
//         }
//     }
// }

.action-control {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
    position: relative;
}
i {
    position: absolute;
    height: 15px;
    width: 15px;
    top: 10px;
    right: 105px;
    &:before {
        color: $main-text_color;
    }
}


.add-item_btn {
    padding: 10px 40px 10px 60px;
    border: none;
    border-radius: 3px;
    color: $main-text_color;
    background: $action-btn_color;
    font-size: 14px;
    text-decoration: none;
}

.courses-item {
    display: flex;
    padding: 20px 15px 30px 15px;
    margin: 15px 0 0;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(173,166,173,1);
    -moz-box-shadow: 0px 2px 10px 0px rgba(173,166,173,1);
    box-shadow: 0px 2px 10px 0px rgba(173,166,173,1);
    border-radius: 5px;
    background: $main-text_color;

    .courses-title {
        width: 75%;
    }

    .course-info_block {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    .course-add_info {
        display: flex;

        .course-info_item {
            position: relative;
            margin: 0 15px;

            i {
                top: -1px;
                right: 63px;
                    &::before {
                        color: #6e7984;
                    }
            }

            span {
                font-size: 14px;
            }
        }
    }

    h3 {
        font-size: 26px;
        text-transform: uppercase;
        font-weight: bold;
        margin: 0;
    }

    .courses-settings {
        width: 25%;
        display: flex;
        align-items: center;

        .courses-settings_item {
            position: relative;

            i {
                top: -1px;
                right: 93px;
            }

            a {
                margin: 0 15px;
                padding: 10px 35px 10px 45px;
            }
        }
    }

    .load-control {
        justify-content: center;
        margin: 15px 0;
        padding: 15px;

        a {
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}