
<!-- <app-title></app-title> -->

<app-test></app-test>

<section class="about-page">
    <h2>About</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis optio nesciunt 
    dolor saepe officiis fugiat delectus impedit laudantium doloremque perspiciatis 
    dignissimos, suscipit quae recusandae veniam nostrum ab dolores sed aliquam ullam. 
    Recusandae quo nesciunt ratione. Tempora maxime debitis fuga accusantium consequatur 
    expedita sit? Ipsam ipsa optio tenetur voluptate reiciendis alias amet quasi, quae neque, 
    iusto exercitationem officiis, soluta voluptatum libero similique id enim dolor laborum fuga. 
    Inventore iure possimus nesciunt itaque tempore, id ab dicta nemo nulla beatae saepe fugiat 
    odit quia eius, aliquam ducimus rerum exercitationem. Ullam, ipsum, quaerat doloremque 
    distinctio numquam asperiores sequi placeat perferendis reprehenderit at quasi.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis optio nesciunt 
    dolor saepe officiis fugiat delectus impedit laudantium doloremque perspiciatis 
    dignissimos, suscipit quae recusandae veniam nostrum ab dolores sed aliquam ullam. 
    Recusandae quo nesciunt ratione. Tempora maxime debitis fuga accusantium consequatur 
    expedita sit? Ipsam ipsa optio tenetur voluptate reiciendis alias amet quasi, quae neque, 
    iusto exercitationem officiis, soluta voluptatum libero similique id enim dolor laborum fuga. 
    Inventore iure possimus nesciunt itaque tempore, id ab dicta nemo nulla beatae saepe fugiat 
    odit quia eius, aliquam ducimus rerum exercitationem. Ullam, ipsum, quaerat doloremque 
    distinctio numquam asperiores sequi placeat perferendis reprehenderit at quasi.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis optio nesciunt 
    dolor saepe officiis fugiat delectus impedit laudantium doloremque perspiciatis 
    dignissimos, suscipit quae recusandae veniam nostrum ab dolores sed aliquam ullam. 
    Recusandae quo nesciunt ratione. Tempora maxime debitis fuga accusantium consequatur 
    expedita sit? Ipsam ipsa optio tenetur voluptate reiciendis alias amet quasi, quae neque, 
    iusto exercitationem officiis, soluta voluptatum libero similique id enim dolor laborum fuga. 
    Inventore iure possimus nesciunt itaque tempore, id ab dicta nemo nulla beatae saepe fugiat 
    odit quia eius, aliquam ducimus rerum exercitationem. Ullam, ipsum, quaerat doloremque 
    distinctio numquam asperiores sequi placeat perferendis reprehenderit at quasi.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis optio nesciunt 
    dolor saepe officiis fugiat delectus impedit laudantium doloremque perspiciatis 
    dignissimos, suscipit quae recusandae veniam nostrum ab dolores sed aliquam ullam. 
    Recusandae quo nesciunt ratione. Tempora maxime debitis fuga accusantium consequatur 
    expedita sit? Ipsam ipsa optio tenetur voluptate reiciendis alias amet quasi, quae neque, 
    iusto exercitationem officiis, soluta voluptatum libero similique id enim dolor laborum fuga. 
    Inventore iure possimus nesciunt itaque tempore, id ab dicta nemo nulla beatae saepe fugiat 
    odit quia eius, aliquam ducimus rerum exercitationem. Ullam, ipsum, quaerat doloremque 
    distinctio numquam asperiores sequi placeat perferendis reprehenderit at quasi.</p>    
</section>