<!-- Header -->
<header>
  <div class="logo-section">
    <img src="https://static.cdn.epam.com/uploads/b805fc06d61dec80ef8eba5aaaa854fd/EPM-TUBE/video-digital-platform-logo-v2.svg" alt="main-logo">
  </div>
  <nav class="main-nav">
    <ul>
      <li><a href="">Courses</a></li>
      <li><a href="">About</a></li>
    </ul>
  </nav>    
</header>

<!-- Main Content -->
<main>

</main>



<!--  Footer -->
<footer>
  <div class="copyright-section">
    <p>Copyright © Videocorses. All rights reserved</p>
  </div>
</footer>






<router-outlet></router-outlet>