<!-- Header -->
<header>
  <div class="logo-section">
    <img src="https://static.cdn.epam.com/uploads/b805fc06d61dec80ef8eba5aaaa854fd/EPM-TUBE/video-digital-platform-logo-v2.svg" alt="main-logo">
  </div>
  <nav class="main-nav">
    <a href="">Courses</a>
    <a href="">About</a>
  </nav>    
</header>

<!-- Main Content -->
<main>
  <section class="search-section">
    <form>
      <label for="coursesearch"></label>
      <i class="fa fa-search"></i>
      <input type="text" id="coursesearch" name="coursesearch" placeholder="Text for search">
    </form>
  </section>


  <section class="courseslist-section">
    <div class="action-control">
      <i class="fa fa-plus"></i>
      <a class="add-item_btn" href="">Add item</a>
    </div>

    <div class="courses-item">
      <div class="courses-title">
        <div class="course-info">
          <div class="course-info_item">
            <h3>Lorem ipsum dolor sit amet consectetur</h3>
            <i class="fa fa-clock"></i>
            <span>2h 32min</span>
          </div>
          <div class="course-info_item">
            <i class="fa fa-calendar-alt"></i>
            <span>4h 12min</span>
          </div>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Suscipit, sunt quidem. Harum tenetur atque, veniam hic praesentium 
          cum ad asperiores veritatis reprehenderit magni omnis repellat odit eius 
          aspernatur nihil ratione minima placeat nesciunt! Quasi qui laudantium soluta 
          voluptatibus! Unde porro quos, natus quis vel corrupti magni quod ipsam tempore id?</p>
      </div>
      <div class="courses-settings">
        <div class="courses-settings">
          <i class="fa fa-pen"></i>
          <a href="" class="settings-btn">Edit</a>
        </div>
        <div class="courses-settings">
          <i class="fa fa-trash"></i>
          <a href="" class="settings-btn">Delete</a>
        </div>
      </div>
    </div>

    <div class="load-control">
      <a href="" class="load-more_btn">Load more</a>
    </div>
  </section>
</main>



<!--  Footer -->
<footer>
  <div class="copyright-section">
    <p>Copyright © Videocourses. All rights reserved</p>
  </div>
</footer>


<router-outlet></router-outlet>