<!-- Header -->
<header>
  <div class="logo-section">
    <img src="https://static.cdn.epam.com/uploads/b805fc06d61dec80ef8eba5aaaa854fd/EPM-TUBE/video-digital-platform-logo-v2.svg" alt="main-logo">
  </div>
  <nav class="main-nav">
    <a href="">Courses</a>
    <a href="">About</a>
  </nav>    
</header>

<!-- Main Content -->
<main>
<!-- <section class="search-section">
  <form>
    <label for="coursesearch"></label>
    <i class="fa fa-search"></i>
    <input type="text" id="coursesearch" name="coursesearch" placeholder="Text for search">
  </form>
</section> -->


<!-- <section class="courseslist-section">
  <div class="action-control">
    <i class="fa fa-plus"></i>
    <a class="add-item_btn" href="">Add item</a>
  </div>

  <div class="courses-item">
    <div class="courses-title">
      <div class="course-info">
        <div class="course-info_block">
          <h3>Lorem ipsum dolor sit</h3>
          <div class="course-add_info">
            <div class="course-info_item">
              <i class="fa fa-clock"></i>
              <span>2h 32min</span>
            </div>
            <div class="course-info_item">
              <i class="fa fa-calendar-alt"></i>
              <span>4h 12min</span>
            </div>
          </div>
        </div>
      </div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Suscipit, sunt quidem. Harum tenetur atque, veniam hic praesentium 
        cum ad asperiores veritatis reprehenderit magni omnis repellat odit eius 
        </p>
    </div>
    <div class="courses-settings">
      <div class="courses-settings_item">
        <i class="fa fa-pen"></i>
        <a href="" class="add-item_btn settings-btn">Edit</a>
      </div>
      <div class="courses-settings_item">
        <i class="fa fa-trash"></i>
        <a href="" class="add-item_btn settings-btn">Delete</a>
      </div>
    </div>
  </div>

  <div class="courses-item">
    <div class="courses-title">
      <div class="course-info">
        <div class="course-info_block">
          <h3>Lorem ipsum dolor sit</h3>
          <div class="course-add_info">
            <div class="course-info_item">
              <i class="fa fa-clock"></i>
              <span>2h 32min</span>
            </div>
            <div class="course-info_item">
              <i class="fa fa-calendar-alt"></i>
              <span>4h 12min</span>
            </div>
          </div>
        </div>
      </div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Suscipit, sunt quidem. Harum tenetur atque, veniam hic praesentium 
        cum ad asperiores veritatis reprehenderit magni omnis repellat odit eius 
        </p>
    </div>
    <div class="courses-settings">
      <div class="courses-settings_item">
        <i class="fa fa-pen"></i>
        <a href="" class="add-item_btn settings-btn">Edit</a>
      </div>
      <div class="courses-settings_item">
        <i class="fa fa-trash"></i>
        <a href="" class="add-item_btn settings-btn">Delete</a>
      </div>
    </div>
  </div>

  <div class="courses-item">
    <div class="courses-title">
      <div class="course-info">
        <div class="course-info_block">
          <h3>Lorem ipsum dolor sit</h3>
          <div class="course-add_info">
            <div class="course-info_item">
              <i class="fa fa-clock"></i>
              <span>2h 32min</span>
            </div>
            <div class="course-info_item">
              <i class="fa fa-calendar-alt"></i>
              <span>4h 12min</span>
            </div>
          </div>
        </div>
      </div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Suscipit, sunt quidem. Harum tenetur atque, veniam hic praesentium 
        cum ad asperiores veritatis reprehenderit magni omnis repellat odit eius 
        </p>
    </div>
    <div class="courses-settings">
      <div class="courses-settings_item">
        <i class="fa fa-pen"></i>
        <a href="" class="add-item_btn settings-btn">Edit</a>
      </div>
      <div class="courses-settings_item">
        <i class="fa fa-trash"></i>
        <a href="" class="add-item_btn settings-btn">Delete</a>
      </div>
    </div>
  </div>

  <div class="courses-item load-control">
    <a href="" class="load-more_btn">Load more</a>
  </div>
</section> -->



<section class="new-course">
  <div class="new-course_item">
    <h3>New course</h3>

    <form action="">
      <div class="form-item">
        <label for="fname">Title:</label>
        <input type="text" id="fname" name="firstname" placeholder="Some title...">
      </div>

      <div class="form-item">
        <label for="fname">Description:</label>
        <textarea type="text" id="fname" name="firstname" placeholder="Description..."></textarea>
      </div>

      <div class="form-item short-item">
        <label for="fname">Duration:</label>
        <input type="text" id="fname" name="firstname" placeholder="Some duration...">
      </div>

      <div class="form-item short-item">
        <label for="fname">Date:</label>
        <input type="text" id="fname" name="firstname" placeholder="Some date...">
      </div>

      <div class="form-item">
        <label for="cars">Authors:</label>

        <select id="cars">
          <option value="volvo">Author1</option>
          <option value="saab">Author2</option>
          <option value="opel">Author3</option>
          <option value="audi">Author4</option>
        </select>
      </div>

      <div class="action-btns_area">
        <div>
          <a href="" class="action_btn">Cancel</a>
          <a href="" class="action_btn save-action">Save</a>
        </div>
      </div>
      
    </form>
  </div>
</section>


  <!-- <section class="about-page">
    <h2>About</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis optio nesciunt 
      dolor saepe officiis fugiat delectus impedit laudantium doloremque perspiciatis 
      dignissimos, suscipit quae recusandae veniam nostrum ab dolores sed aliquam ullam. 
      Recusandae quo nesciunt ratione. Tempora maxime debitis fuga accusantium consequatur 
      expedita sit? Ipsam ipsa optio tenetur voluptate reiciendis alias amet quasi, quae neque, 
      iusto exercitationem officiis, soluta voluptatum libero similique id enim dolor laborum fuga. 
      Inventore iure possimus nesciunt itaque tempore, id ab dicta nemo nulla beatae saepe fugiat 
      odit quia eius, aliquam ducimus rerum exercitationem. Ullam, ipsum, quaerat doloremque 
      distinctio numquam asperiores sequi placeat perferendis reprehenderit at quasi.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis optio nesciunt 
      dolor saepe officiis fugiat delectus impedit laudantium doloremque perspiciatis 
      dignissimos, suscipit quae recusandae veniam nostrum ab dolores sed aliquam ullam. 
      Recusandae quo nesciunt ratione. Tempora maxime debitis fuga accusantium consequatur 
      expedita sit? Ipsam ipsa optio tenetur voluptate reiciendis alias amet quasi, quae neque, 
      iusto exercitationem officiis, soluta voluptatum libero similique id enim dolor laborum fuga. 
      Inventore iure possimus nesciunt itaque tempore, id ab dicta nemo nulla beatae saepe fugiat 
      odit quia eius, aliquam ducimus rerum exercitationem. Ullam, ipsum, quaerat doloremque 
      distinctio numquam asperiores sequi placeat perferendis reprehenderit at quasi.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis optio nesciunt 
      dolor saepe officiis fugiat delectus impedit laudantium doloremque perspiciatis 
      dignissimos, suscipit quae recusandae veniam nostrum ab dolores sed aliquam ullam. 
      Recusandae quo nesciunt ratione. Tempora maxime debitis fuga accusantium consequatur 
      expedita sit? Ipsam ipsa optio tenetur voluptate reiciendis alias amet quasi, quae neque, 
      iusto exercitationem officiis, soluta voluptatum libero similique id enim dolor laborum fuga. 
      Inventore iure possimus nesciunt itaque tempore, id ab dicta nemo nulla beatae saepe fugiat 
      odit quia eius, aliquam ducimus rerum exercitationem. Ullam, ipsum, quaerat doloremque 
      distinctio numquam asperiores sequi placeat perferendis reprehenderit at quasi.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis optio nesciunt 
      dolor saepe officiis fugiat delectus impedit laudantium doloremque perspiciatis 
      dignissimos, suscipit quae recusandae veniam nostrum ab dolores sed aliquam ullam. 
      Recusandae quo nesciunt ratione. Tempora maxime debitis fuga accusantium consequatur 
      expedita sit? Ipsam ipsa optio tenetur voluptate reiciendis alias amet quasi, quae neque, 
      iusto exercitationem officiis, soluta voluptatum libero similique id enim dolor laborum fuga. 
      Inventore iure possimus nesciunt itaque tempore, id ab dicta nemo nulla beatae saepe fugiat 
      odit quia eius, aliquam ducimus rerum exercitationem. Ullam, ipsum, quaerat doloremque 
      distinctio numquam asperiores sequi placeat perferendis reprehenderit at quasi.</p>    
  </section> -->
</main>



<!--  Footer -->
<footer>
  <div class="copyright-section">
    <p>Copyright © Videocourses. All rights reserved</p>
  </div>
</footer>


<router-outlet></router-outlet>